header {

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;

    .logo {
      width: 95px;
      height: 20px;
      background-image: url(../images/logo.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: -100% 40%;
    }

    .header-btn {
      border: 1px solid $lightPink;
      font-size: 11px;
      font-weight: 400;
      text-align: center;
      height: 20px;
      width: 80px;
      border-radius: 50px;

      a {
        display: block;
        color: $lightPink;
        margin-top: 2px;
      }
    }
  }
  
}