// Variables

//Colors

// Primary

$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);

// Neutral

$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);
$white: #ffffff;


@import "./global";
@import "./header";
@import "./hero";
@import "./madia1440";